Analogous content about CRL and the CRL Distribution Points is at https://www.rfc-editor.org/info/rfc5280/#section-4.2.1.13

If only HTTP is used, the same things as in RFC 6960 and RFC 5280 can be said for messages that transfer C509-related information (e.g., about the request method that can be used).

At the same time, when querying an OCSP server, it should be the case that a caching-oriented, idempotent, and safe request is actually desired (in contrast with a POST request), while also not resorting to encoding the request content in the query component of the target URI of a GET request. So, if CoAP is used at all, the following can be considered:

* If both the server and the client use CoAP, requests can then use the FETCH request method (RFC 8132), with all its advantages compared to the stretched use of POST (or of GET with query parameters).

* If not both the server and client use CoAP (likely, the server is the one that uses HTTP) and a cross-proxy is deployed in between, we need the requests to be GET or POST (with the resulting downsides discussed in RFC 8132), since there is no defined translation between FETCH and a corresponding HTTP method (one day, the recent QUERY could be considered, see RFC 10008).

Regarding security and the current era, it's probably about strongly discouraging unsecure communication, whatever the transfer protocol used.

A few things to consider if cacheability of responses is desired:

* For OCSP requests, they should practically need to converge on nonce=null in order to set the ground for producing a cache hit.

* If OSCORE-based security is used, cacheability of responses is possible by using the variant of Group OSCORE defined in https://datatracker.ietf.org/doc/draft-ietf-core-cacheable-oscore/