Thanks, Lijun!

I have reviewed the issues (leaving a comment on #11) and the latest commits (restoring a dropped comma in a CDDL notation).

Regarding the two implementations: as per RFC 7942, the draft can at some point also include a section "Implementation Status" before the section "Security Considerations", with one entry for each implementation.

This should be ok even for implementations that are not open source. From Section 4 of RFC 7942:

> - In the case of open source, ...

For an example, see https://datatracker.ietf.org/doc/html/draft-ietf-core-oscore-groupcomm-28#name-implementation-status
